In [ ]:
import pandas as pd 
import numpy as np
pd.set_option('display.max_columns',None) #this will display all the columns without shrinking
import re

In [ ]:
df = pd.read_csv("GSAF5.csv", engine = 'python')  #encoding = 'cp1252'

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

Investigating a bit further to check how similar are the columns "Case Number.1" and "Case Number.2" and then make a decision after. Like this:

In [ ]:
# checking to know if both columns are equal in values
df['Case Number'].equals(df['Case Number.1'])

In [ ]:
# checking to know the correlation of values in the the columns
df['Case Number'].isin(df['Case Number.1']).value_counts()

In [ ]:
x = round(((3213/5992)*100), 1)
print("Percentage of missing values in the Time columns is {}%, which indicate that it's more than 50% of the dataset So I decided to drop it".format(x))

<span style='color:Blue'> Difference is indeed very small so i decided to just drop it! Same for the "href column". Regarding missing values, a rule of thumb in the Data Analysis world is that if 30% or more of the data is missing you can drop the entire column. This is just a rule of thumb. Each case is a case of course. </span>

Dropping of columns that are not relevant

In [ ]:
'''the columns unnamed 22 and unnamed 23 have only 1 and 2 against 5992 values values so i have to drop them and href have the same values with href formula
column Case Number1, Case Number2 have the same values with the case number so i decided to drop them too'''
df = df.drop(['Unnamed: 22', 'Unnamed: 23', 'href','Case Number.1', 'Case Number.2','Time'],axis=1)

In [ ]:
# df.head(3)

# Renaming of columns

In [ ]:
df.columns

In [ ]:
# renaming columns
df.rename(columns={'Sex ':'Sex', 'Species ': 'Species','original order':'Original_order','Fatal (Y/N)':'Fatal'}, inplace=True)

In [ ]:
#getting the value count from Species without NAN
df['Species'].value_counts()

# Replacing characters

In [ ]:
# fou u in df['href formula']:
#     print(u)

In [ ]:
find =df[(df['href formula']== 'pdf-directory/2013.05.27.b-Ena.pdf')]
find

In [ ]:
df['href formula'] = df['href formula'].str.replace('pdf_directory2014.01.04-Riano.pdf', 'http://sharkattackfile.net/spreadsheets/pdf_directory2014.01.04-Riano.pdf').str.replace(' ','').str.replace(',','.')

In [ ]:
# set(df['Country'])

In [ ]:
# Replacing characters in column's values
df['Country'] = df['Country'].str.replace('?', '').str.replace('/',' & ').str.replace('Between','')
df['Country'] = df['Country'].str.replace('\(',' ').str.replace('\)',' ')

In [ ]:
# set(df['Activity'])

In [ ]:
df['Activity']= df['Activity'].str.replace('�','')

In [ ]:
# set(df['Age'])

In [ ]:
df['Age'] = df['Age'].str.replace('�', '0').str.replace('s', '').str.replace(' ', '').str.replace('?', '').str.replace('middle-age','45').replace('2326','24').replace('3230','31')
df['Age'] = df['Age'].str.replace('young','25').str.replace('&','').str.replace('\(',' ').str.replace('\)',' ').str.replace('18month','2').replace('25or28','26').replace('3326','31')
df['Age'] = df['Age'].str.replace('','').replace('10or12','11').replace('12or13','12').replace('13or14','13').replace('13or18','15').replace('16to18','17').replace('3326','30')
df['Age'] = df['Age'].replace('1716','117').replace('1735','17').replace('18or20','19').replace('18to22','19').replace('21,34,2435','34').replace('21or26','24').replace('2320','22')
df['Age'] = df['Age'].replace('25to35','27').replace('28,2330','28').replace('2826','27').replace('2to3month','1').replace('3032','31').replace('30or36','33').replace('31or33','31').replace('3626','34')
df['Age'] = df['Age'].replace('3337','34').replace('33or37','33').replace('3419','34').replace('3623','36').replace('3326','33').replace('37,67,35,27,27','35').replace('4634','46').replace('5030','50')
df['Age'] = df['Age'].replace("60'",'60').replace('7or8','7').replace('8or10','9').replace('912','10').replace('9month','1').replace('9or10','9').replace('>50','54').replace('A.M.','0').replace('Both11','11')
df['Age'] = df['Age'].replace('Ca.33','33').replace('Elderly','70').replace('F','0').replace('M','0').replace('MAKELINEGREEN','33').replace('Teen','0').replace('X','0').replace('adult','18').replace('mid-20','25').replace('mid-30','35')
df['Age'] = df['Age'].replace('nan','0').replace('teen','15').replace('"45"','45').replace('"25"','25').replace(2, '2').replace('',)     
df['Age'] = df['Age'].fillna(2)

In [ ]:
# set(df['Age'])

In [ ]:
# converting column Age to int65
df.Age = df.Age.astype('int64')

In [ ]:
df['Age'].dtype

In [ ]:
# set(df['Area'])

In [ ]:
df['Area'] = df['Area'].str.replace('�', 'o')

In [ ]:
# getting the len of 10 from the column Case Number as Date_info since we have date to be more in a better shape in it.
df['Date_info']=[d[0:10] for d in df['Case Number']]
# df.head(5)

In [ ]:
df['Date_info'].dtype

In [ ]:
# Checking the set of values in Date_info to confirm
# set(df['Date_info'])

In [ ]:
# Converting date_info to date format
df['Date_info'] =  pd.to_datetime(df['Date_info'], errors='coerce', yearfirst=True, infer_datetime_format=True)

In [ ]:
df['Date_info'].dtype

In [ ]:
# The final values after converting Date_info to Date format
# set(df['Date_info'])

In [ ]:
df.isnull().sum()

<span style='color:Blue'> By doing errors='coerce' I'm just substituting the cells that cannot be converted (like the ones containing 'ND') with NaN/NaT. But you can also do error='ignore' and handle the weird formats later. For example, there were some formats with days='00'. This is not recognised by 'pandas.to_datetime'. You could do some string operations to make this '00' day to '01' day. A lot of options are possible! :) </span>

<span style='color:Blue'> You could now drop the original 'Date' column. You could even compare it against the existing 'Year' column, to see if my suggestion is correct, or at least aligh with the rest of the dataframe ;) </span>

In [ ]:
df = df.drop(['Date'],axis=1)

In [ ]:
# set(df['Location'])

In [ ]:
df['Location'] = df['Location'].str.replace('�', ' ').str.replace('?','')

In [ ]:
# getitng columns that have null values
null = df.isnull().sum()
null[null > 0]

In [ ]:
 
# df[(df['href formula'].isnull()==True)]
# null_href =null_href[['Investigator or Source','Country','Type','Country', 'Area', 'Location','Activity','Name','Sex','Age','Injury','Fatal (Y/N)','Time','href formula','href']]

In [ ]:
null_inves = df[(df['Investigator or Source'].isnull()==True)]
# null_inves = null_inves[['Investigator or Source','Country','Type','Country', 'Area', 'Location','Activity','Name','Sex','Age','Injury','Fatal (Y/N)','Time','href formula']]
# null_inves

In [ ]:
# set(df['Investigator or Source'])

In [ ]:
# df.loc[df['Investigator or Source'].isnull()==True]

In [ ]:
# i4 out of the 15 NAN from Investigator or Source are not fatal, this means the cases were not reported for investigation.

df['Investigator or Source'] = df['Investigator or Source'].fillna('Not reported')
df['Investigator or Source'] = df['Investigator or Source'].str.replace('Pacific Commercial Advertiser, 3/24/1850','Pacific Commercial Advertiser').str.replace('Gold Coast Bulletin, 6/4/2016','Gold Coast Bulletin')

In [ ]:
confirm =df[(df['Investigator or Source'] == 'Not reported')]
# confirm

In [ ]:
df['Species']  = df['Species'].fillna('shark not found')

df['Age'] = df['Age'].fillna(0)
df['Activity'] = df['Activity'].fillna('Not confirmed')

In [ ]:
df['Age'].isnull().sum()

In [ ]:
# To comfirm the changes
# set(df['Age'])

In [ ]:
# comparing the NAN is Country column to the rest of the dataframe
null_country = df[(df['Country'].isnull()==True)]
null_country = null_country[['Country','Area', 'Location', 'Year','Type','Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal','Species', 'Investigator or Source',  'Case Number', 'Original_order']]
# null_country

In [ ]:
df.Country = df.Country.fillna('Not confirmed')
df.Area = df.Area.fillna('Not confirmed')
df.Location = df.Location.fillna('Not confirmed')
df['Name'] = df['Name'].fillna('Not confirmed ')
df['Sex'] = df['Sex'].fillna('Not confirmed ')
df['Injury']=df['Injury'].fillna('Not confirmed')

In [ ]:
# set(df['Injury'])

In [ ]:
df['Injury']  = df['Injury'].str.replace('�','').str.replace('                  PROVOKED INCIDENT','')

In [ ]:
df.loc[df['Injury']=='Probable drowning ', ['Fatal','Injury']]

In [ ]:
null_Injury= df[(df['Injury'].isnull()==True)]
null_Injury = null_Injury[['Injury','Fatal','Species','Investigator or Source']]
# null_Injury.tail(50)

In [ ]:
ft = df[(df['Injury']== 'Puncture wounds to right foot                  PROVOKED INCIDENT')]
      
ft

In [ ]:
df['Injury'] = df['Injury'].replace('No inujury ','No inujury').replace('"Very severe wounds"','Very severe wounds').replace('"Tooth marks" in left leg','Tooth marks" in left leg').replace('"Savagely bitten"','Savagely bitten').replace('"Savagely bitten" but apparently survived','Savagely bitten but apparently survived').replace('"Mysteriously disappeared" His body was found in a shark caught at Barber\'s Point on 01-Sep-1931','Mysteriously disappeared" His body was found in a shark caught at Barber\'s Point on 01-Sep-1931')
df['Injury'] = df['Injury'].replace("No injury to occupants, boat was bumped & lifted 2' out of the water by the shark",'No injury to occupants, boat was bumped & lifted 2 out of the water by the shark').replace('FATAL            Leg severed by harpooned shark PROVOKED INCIDENT','FATAL Leg severed by harpooned shark PROVOKED INCIDENT').replace('"Minor cuts to left leg"','Minor cuts to left leg')

In [ ]:
# set(df.Name)

In [ ]:
df['Name'] = df['Name'].str.replace('Occupant:','').str.replace('�','').str.replace('24 boat Shark Tagger Occupant Keith Poe', 'Keith Poe')
df['Name'] = df['Name'].str.replace('\r\n','').replace('male, a sponge Diver','sponge Diver').replace("a ship's engineer",'engineer')
df['Name'] = df['Name'].replace('American male','American')

In [ ]:
df[['Sex', 'Name']].tail()

In [ ]:
# df.loc[:,['Case Number', 'Original_order']].head(40)

In [ ]:
# comparing the null values in Fatal to the level of sustained injury to know how to fill it up
null_case = df[(df['Fatal'].isnull()==True)]
null_case = null_case[['Fatal','Injury']]#,'Case Number', 'Case Number1', 'Case Number2','Investigator or Source', 'Time','Date']]
# null_case.tail(50)

In [ ]:
df.loc[df['Injury']=='FATAL', 'Fatal']='Y'
df.loc[df['Injury']=='Boat damaged', 'Fatal']='Y'
df.loc[df['Injury']=='No injury, no attack', 'Fatal']='N'
df.loc[df['Injury']=='No injury', 'Fatal']='Y'
df.loc[df['Injury']=='Possible drowning and scavenging', 'Fatal']='Y'
df.loc[df['Injury']=='Death preceded shark involvement', 'Fatal']='Y'
df.loc[df['Injury']=='Shark caught contained human remains', 'Fatal']='Y'
df.loc[df['Injury']=='Shark caught, contained human remains', 'Fatal']='Y'
df.loc[df['Injury']=='Probable drowning ', 'Fatal']='Y'
df.loc[df['Injury']=='Human remains found in 4m, 900 kg shark', 'Fatal']='Y'
df.loc[df['Injury']=='Human remains found in shark', 'Fatal']='Y'
df.loc[df['Injury']=='Reported as shark attack but probable drowning', 'Fatal']='Y'
df.Fatal = df.Fatal.fillna('N')

In [ ]:
# null_case = df[(df['Fatal'].isnull()==True)]
# null_case = null_case[['Fatal','Injury']]
# null_case

In [ ]:
# Getting all columns but without the numeric ones
df.select_dtypes(exclude=np.number).columns

In [ ]:
df.to_csv('data_cleaning.csv', index=False)

In [ ]:
new_df = pd.read_csv('data_cleaning.csv')